<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCAD.NET" version="24.0.0" targetFramework="net48" />
  <package id="AutoCAD.NET.Core" version="24.0.0" targetFramework="net48" />
  <package id="AutoCAD.NET.Model" version="24.0.0" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MathNet.Numerics" version="4.15.0" targetFramework="net48" />
  <package id="MathNet.Numerics.Data.Text" version="4.1.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="UnitsNet" version="4.87.0" targetFramework="net48" />
  <package id="andrefmello91.EList" version="1.0.2" targetFramework="net48" />
  <package id="andrefmello91.Extensions" version="1.0.2" targetFramework="net48" />
  <package id="andrefmello91.FEMAnalysis" version="0.1.5" targetFramework="net48" />
  <package id="andrefmello91.Material" version="1.0.1" targetFramework="net48" />
  <package id="andrefmello91.OnPlaneComponents" version="1.0.1" targetFramework="net48" />
  <package id="andrefmello91.ReinforcedConcreteMembrane" version="1.0.1" targetFramework="net48" />
  <package id="andrefmello91.SPMElements" version="0.1.0" targetFramework="net48" />
</packages>